/*  Primary */
:root {
  --primaryDarkViolet: hsl(256, 25%, 20%);
  --primaryGrayishBlue: hsl(216, 30%, 68%);

  /* Neutral */

  --neutralVeryDarkViolet: hsl(270, 9%, 17%);
  --neutralDarkGrayishViolet: hsl(273, 4%, 51%);
  --neutralVeryLightGray: hsl(0, 0%, 98%);
}
/* ----------------------------------- */
/* Universals */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /*10px/16px = 62.5% -> 1rem = 10px*/
}
body {
  font-size: 1.6rem;
  font-family: 'Karla', sans-serif;
  background-color: white;
}
a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.attribution {
  background-color: var(--neutralVeryLightGray);
}
ul {
  list-style: none;
}
.container {
  width: 100vw;
  position: relative;
  overflow: hidden;
}
.container::after {
  content: url(./images/bg-pattern-intro-left-desktop.svg);
  position: absolute;
  top: 50rem;
  left: 0;
}
@media only screen and (max-width: 865px) {
  .container::after {
    content: url(./images/bg-pattern-intro-right-mobile.svg);
    right: 2rem;
    top: 109vh;
    left: initial;
    position: absolute;
    transform: scale(1.4);
  }
}
.heading {
  font-family: 'DM Serif Display', serif;
}
.text {
  line-height: 2.6rem;
  color: var(--neutralDarkGrayishViolet);
}
.container-padding {
  padding-right: 16.5rem;
  padding-left: 16.5rem;
}
@media only screen and (max-width: 1115px) {
  .container-padding {
    padding-right: 8rem;
    padding-left: 8rem;
  }
}
@media only screen and (max-width: 954px) {
  .container-padding {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
@media only screen and (max-width: 875px) {
  .container-padding {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
hr {
  height: 1px;
  width: 15rem;
  margin-bottom: 6rem;
  border: none;
}
.btn {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  padding: 1rem 2.5rem 1rem 2.5rem;
  cursor: pointer;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  z-index: 1000;
}
.btn--light,
.btn--light:visited {
  color: var(--neutralVeryLightGray);
  border: 2px solid var(--neutralVeryLightGray);
}
.btn--light:hover {
  color: var(--primaryDarkViolet);
  background-color: var(--neutralVeryLightGray);
}
.btn--dark,
.btn--dark:visited {
  color: var(--neutralVeryDarkViolet);
  border: 2px solid var(--neutralVeryDarkViolet);
}
.btn--dark:hover {
  color: var(--neutralVeryLightGray);
  background-color: var(--primaryDarkViolet);
}
/* ----------------------------------- */
/* Navigation */
.navigation {
  display: flex;
  justify-content: space-between;
  height: 8rem;
}
/* Mobile Nav */
input[type='checkbox'] {
  display: none;
}
input[type='checkbox']:checked ~ .navigation__overlay-container {
  visibility: visible;
}
input[type='checkbox']:checked
  + label
  > .navigation__overlay-button--hamburger {
  opacity: 0%;
}
input[type='checkbox']:checked + label > .navigation__overlay-button--close {
  opacity: 100%;
}
.navigation__overlay-button--close {
  position: absolute;
  transform: translateX(-3.2rem);
  opacity: 0%;
}
.navigation--mobile {
  position: fixed;
  display: none;
  z-index: 100;
}
.navigation__overlay-container {
  position: fixed;
  background-color: var(--primaryDarkViolet);
  height: 100vh;
  width: 100vw;
  visibility: hidden;
  z-index: 99;
}
.navigation__overlay {
  position: absolute;
  width: 100%;
  height: 35vh;
  left: 50vw;
  top: 44vh;
  transform: translate(-50%, -50%);
}
.navigation__overlay-button {
  position: fixed;
  display: none;
  top: 2.45rem;
  right: 3rem;
  z-index: 100;
  transform: scale(1.2);
}
.navigation__overlay-button:hover {
  cursor: pointer;
}
.navigation__list--mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.navigation__item--mobile {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--neutralVeryLightGray);
  align-self: center;
}
.navigation__item--mobile .btn {
  white-space: nowrap;
  font-size: 2.4rem;
  padding: 1.5rem 10rem 1.5rem 10rem;
}

/* Desktop nav */
.navigation__list--desktop {
  display: flex;
}
.navigation__item:not(:last-child) {
  margin-right: 2.7rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--neutralDarkGrayishViolet);
  align-self: center;
}
.navigation__item:not(:last-child):hover {
  color: var(--primaryDarkViolet);
}
.navigation__item:last-child {
  align-self: center;
  transform: translateY(-1px);
}
.navigation__logo {
  align-self: center;
  transform: translateY(2px);
}

@media only screen and (max-width: 875px) {
  .navigation__list--desktop {
    display: none;
  }
  .navigation__overlay-button {
    display: initial;
  }
  .navigation {
    position: fixed;
    background-color: white;
    z-index: 100;
    width: 100vw;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
  }
}

/* ----------------------------------- */
/* Header */
.header {
  position: relative;
}
.header::after {
  content: url(./images/bg-pattern-intro-right-desktop.svg);
  position: absolute;
  right: 0rem;
  top: 0rem;
}
.header__container {
  display: flex;
  background-color: var(--primaryDarkViolet);
  padding-top: 10rem;
  height: 60rem;
}
.header__heading-container {
  width: 50%;
  margin-right: 4rem;
  z-index: 1;
}
.header__img-container {
  width: 50%;
  position: relative;
}
.header__img-container img {
  width: 100%;
  min-width: 40rem;
  max-width: 60rem;
  position: absolute;
  top: 0rem;
  right: 0rem;
}
.header__heading--main {
  color: var(--neutralVeryLightGray);
  font-size: 7rem;
  line-height: 6rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
}
.header__heading--sub {
  color: var(--neutralVeryLightGray);
  margin-bottom: 4rem;
  margin-right: 5rem;
}
.divider--light {
  background-color: var(--neutralVeryLightGray);
}
@media only screen and (max-width: 875px) {
  .header__container {
    flex-direction: column-reverse;
    height: 100rem;
    padding: 0;
  }
  .divider--light {
    display: none;
  }
  .header__heading-container {
    width: 100%;
    margin-right: initial;
    height: 50%;
    padding-right: 2rem;
    padding-left: 2rem;
    position: relative;
  }
  .header__heading-container::after {
    content: url(./images/bg-pattern-intro-left-mobile.svg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .header__heading-container .btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .header__heading--main {
    font-size: 4.5rem;
    text-align: center;
    line-height: 4rem;
    margin-top: 7rem;
  }
  .header__heading--sub {
    text-align: center;
    margin-right: initial;
    margin: 5rem auto;
    max-width: 80vw;
  }
  .header__img-container {
    width: 100%;
    position: relative;
    height: 50%;
  }
  .header__img-container img {
    position: absolute;
    top: initial;
    right: initial;
    min-width: initial;
    max-width: initial;
    height: 100%;
    object-fit: cover;
  }
  .header::after {
    display: none;
  }
}
@media only screen and (max-height: 645px) {
  .header__img-container {
    height: 30%;
  }
  .header__heading-container {
    height: 70%;
  }
  .navigation__item--mobile .btn {
    padding: 1.5rem 7rem 1.5rem 7rem;
  }
}
/* ----------------------------------- */
/* Features */
.features {
  margin-top: 25rem;
  margin-bottom: 15rem;
}
.features__heading {
  font-size: 7rem;
  font-weight: 400;
  color: var(--neutralVeryDarkViolet);
}
.features__row {
  display: flex;
  margin-top: 8rem;
  margin-bottom: 15rem;
}
.features__item-heading {
  margin-top: 2.6rem;
  margin-bottom: 2rem;
  font-size: 2.8rem;
  font-weight: 400;
  color: var(--neutralVeryDarkViolet);
}
.features__item:not(:last-child) {
  margin-right: 3rem;
}
.divider--dark {
  background-color: var(--neutralDarkGrayishViolet);
}
/* Call to action */
.cta {
  display: flex;
  height: 24rem;
  background-color: var(--primaryDarkViolet);
  align-items: center;
  padding: 0 7rem 0 8rem;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.cta:after {
  content: url(./images/bg-pattern-how-we-work-desktop.svg);
  position: absolute;
  right: -1rem;
  top: 0;
  z-index: 1;
}
.cta__heading {
  color: var(--neutralVeryLightGray);
  font-size: 3.5vw;
  font-weight: 400;
  width: 65%;
  padding-right: 5rem;
  line-height: 5.2rem;
  z-index: 2;
}
.cta .btn {
  z-index: 2;
}
@media only screen and (max-width: 875px) {
  .features {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: 15rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .features__row {
    flex-direction: column;
  }
  .features__item:not(:last-child) {
    margin-right: initial;
  }
  .features__item {
    display: flex;
    flex-direction: column;
    place-items: center;
  }
  .features__item:not(:last-child) {
    margin-bottom: 6rem;
  }
  .features__item img {
    width: 10rem;
  }
  .features__heading {
    font-size: 4.5rem;
    margin-top: -2rem;
  }
  .features__item-text {
    text-align: center;
    max-width: 70vw;
  }
  /* cta */
  .cta {
    flex-direction: column;
    height: 37rem;
    width: 100%;
    padding: 0;
    justify-content: center;
    max-width: 85vw;
  }
  .cta__heading {
    font-size: 4rem;
    width: 100%;
    line-height: 5.2rem;
    text-align: center;
    padding: 0 2.5rem 0 2.5rem;
    margin-bottom: 4.5rem;
    z-index: 2;
  }
  .cta:after {
    content: url(./images/bg-pattern-how-we-work-mobile.svg);
    position: absolute;
    right: -1rem;
    top: 0;
  }
}

/* ----------------------------------- */
/* Footer */
.footer {
  background-color: var(--neutralVeryLightGray);
  height: 35rem;
  padding-top: 6rem;
  padding-bottom: 3rem;
  position: relative;
  overflow: hidden;
}
.footer::after {
  content: url(./images/bg-pattern-footer-desktop.svg);
  position: absolute;
  top: -3.5rem;
  left: -5rem;
  transform: scale(0.85);
}
.footer__logo {
  z-index: 1;
}
.footer__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.footer__social {
  z-index: 1;
  transform: scale(0.85);
}
.footer__social-icon:not(:last-child) {
  margin-right: 1rem;
}
.footer__social-icon {
  fill: #837d88;
}
.footer__social-icon:hover {
  fill: #2d2640;
  transform: translateY(-1px);
  cursor: pointer;
}
.footer__divider {
  background-color: rgb(219, 213, 213);
  height: 1px;
  width: 100%;
  border: none;
  margin-bottom: 4rem;
  z-index: 1;
}
.footer__links {
  display: flex;
  gap: 14vw;
}
.footer__links-column {
  white-space: nowrap;
  z-index: 1;
}
.footer__links--heading,
.footer__links--link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
}
.footer__links--heading {
  margin-bottom: 3rem;
  color: var(--neutralDarkGrayishViolet);
}
.footer__links--link {
  margin-bottom: 1.5rem;
  color: var(--neutralVeryDarkViolet);
}
.footer__links--link a:hover {
  color: var(--primaryGrayishBlue);
}
@media only screen and (max-width: 875px) {
  .footer {
    padding: 0;
    height: initial;
    display: flex;
    flex-direction: column;
    place-items: center;
  }
  .footer::after {
    content: url(./images/bg-pattern-footer-mobile.svg);
    position: absolute;
    left: 2rem;
    top: 1rem;
    transform: scale(1.1);
  }
  .footer__heading {
    flex-direction: column;
    margin-top: 10rem;
  }
  .footer__logo {
    align-self: center;
    margin-bottom: 2rem;
  }
  .footer__social-icon:not(:last-child) {
    margin-right: 2rem;
  }
  .footer__divider {
    width: 85vw;
    margin-top: 4rem;
  }

  /* links */
  .footer__links-column:not(:first-child) {
    margin-left: 0;
  }
  .footer__links-column {
    margin: 0 0 2rem 0;
  }

  .footer__links {
    flex-direction: column;
    text-align: center;
    gap: initial;
  }
}
