/*  Primary */
:root {
  --primaryDarkViolet: hsl(256, 26%, 20%);
  --primaryGrayishBlue: hsl(216, 30%, 68%);

  /* Neutral */

  --neutralVeryDarkViolet: hsl(270, 9%, 17%);
  --neutralDarkGrayishViolet: hsl(273, 4%, 51%);
  --neutralVeryLightGray: hsl(0, 0%, 98%);
}
/* ----------------------------------- */
/* Universals */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /*10px/16px = 62.5% -> 1rem = 10px*/
}
body {
  font-size: 1.5rem;
  font-family: 'Karla', sans-serif;
  background-color: white;
}
a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}
.attribution {
  background-color: var(--neutralVeryLightGray);
}
ul {
  list-style: none;
}
.container {
  width: 100vw;
  position: relative;
}
.container::after {
  content: url(./images/bg-pattern-intro-left-desktop.svg);
  position: absolute;
  top: 40rem;
  left: 0;
}
.heading {
  font-family: 'DM Serif Display', serif;
}
.text {
  line-height: 2.2rem;
  color: var(--neutralDarkGrayishViolet);
}
.container-padding {
  padding-right: 12.5rem;
  padding-left: 12.5rem;
}
hr {
  height: 1px;
  width: 13rem;
  margin-bottom: 5rem;
  border: none;
}
.btn {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  text-decoration: none;
  z-index: 1;
}
.btn--light {
  color: var(--neutralVeryLightGray);
  border: 1px solid var(--neutralVeryLightGray);
}
.btn--dark {
  color: var(--neutralVeryDarkViolet);
  border: 1px solid var(--neutralVeryDarkViolet);
}
/* ----------------------------------- */
/* Navigation */
.navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 2.6rem;
  padding-bottom: 2.6rem;
}
.navigation__list {
  display: flex;
}
.navigation__item:not(:last-child) {
  margin-right: 2.7rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--neutralDarkGrayishViolet);
  align-self: center;
}
.navigation__logo {
  align-self: center;
  transform: scale(0.85) translateX(-10.5px);
}

/* ----------------------------------- */
/* Header */
.header {
  background-color: var(--primaryDarkViolet);
}
.header__container {
  display: flex;
  padding-top: 9rem;
  padding-bottom: 12rem;
  position: relative;
  overflow: hidden;
}
.header__container::after {
  content: url(./images/bg-pattern-intro-right-desktop.svg);
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(2rem, -8rem);
}
.header__img-container {
  width: 100%;
  position: relative;
}
.header__img-container img {
  width: 47rem;
  position: absolute;
  top: 0rem;
  right: 0rem;
}
.header__heading--main {
  color: var(--neutralVeryLightGray);
  font-size: 6.5rem;
  line-height: 5rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
}
.header__heading--sub {
  color: var(--neutralVeryLightGray);
  margin-bottom: 4rem;
  margin-right: 5rem;
}
.divider--light {
  background-color: var(--neutralVeryLightGray);
}
/* ----------------------------------- */
/* Features */
.features {
  margin-top: 25rem;
  margin-bottom: 10rem;
}
.features__heading {
  font-size: 5.9rem;
  font-weight: 400;
  color: var(--neutralVeryDarkViolet);
}
.features__row {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 10rem;
}
.features__item-heading {
  margin-top: 1.3rem;
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--neutralVeryDarkViolet);
}
.features__item:not(:last-child) {
  margin-right: 3rem;
}
.features__item img {
  transform: scale(0.8);
}
.divider--dark {
  background-color: var(--neutralDarkGrayishViolet);
}
/* Call to action */
.cta {
  display: flex;
  height: 19rem;
  background-color: var(--primaryDarkViolet);
  align-items: center;
  padding: 0 7rem 0 8rem;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.cta:after {
  content: url(./images/bg-pattern-how-we-work-desktop.svg);
  position: absolute;
  right: -3.5rem;
  top: -3.5rem;
  transform: scale(0.84);
}
.cta__heading {
  color: var(--neutralVeryLightGray);
  font-size: 3.7vw;
  font-weight: 400;
  width: 65%;
  padding-right: 5rem;
  line-height: 4.3rem;
}

/* ----------------------------------- */
/* Footer */
.footer {
  background-color: var(--neutralVeryLightGray);
  padding-top: 4rem;
  padding-bottom: 3rem;
  position: relative;
  overflow: hidden;
  z-index: -2;
}
.footer::after {
  content: url(./images/bg-pattern-footer-desktop.svg);
  position: absolute;
  top: -3.5rem;
  left: -5rem;
  z-index: -1;
  transform: scale(0.85);
}
.footer__logo {
  transform: translateX(-0.5px);
}
.footer__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.footer__social img {
  transform: scale(0.8);
}
.footer__social img:not(:last-child) {
  margin-right: 0.4rem;
}
.footer__divider {
  background-color: rgb(235, 231, 231);
  height: 1px;
  width: 100%;
  border: none;
  margin-bottom: 3.7rem;
}
.footer__links {
  display: flex;
  justify-content: flex-start;
}
.footer__links-column {
  margin-right: 8rem;
  white-space: nowrap;
}
.footer__links-column:not(:first-child) {
  margin-left: 8rem;
}
.footer__links--heading,
.footer__links--link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1rem;
}
.footer__links--heading {
  margin-bottom: 2.5rem;
  color: var(--neutralDarkGrayishViolet);
}
.footer__links--link {
  margin-bottom: 1rem;
  color: var(--neutralVeryDarkViolet);
}
